*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
 margin: 0;
  padding-top: 0;
  background-color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a{
  color: white !important;
  cursor: pointer;
  text-decoration: none !important;
}
